

body{
	margin: 0;
	padding: 0;
	font-family: sans-serif ;
	font-size: 16px ;
	font-weight: 400 ;
    color: #0f2656 ;
}

/*header start*/
header{
	border-bottom: 2px solid #eef0f3;
	padding: 10px 0px;
}
.wrpper {
	overflow: hidden;
	width: 90%;
    /*border: 1px solid;*/
	margin: 0 auto;
}

.logo {
	float:left ;
	width: 10%;
}
.logo img{
	width: 100%;
}

.menu {
	float: right;
	width: 50%;
}
.menu ul{
	float: right;

}
.menu ul li{
	list-style: none;
	float: left;

}
.menu ul li a{
	font-size: 18px;
	color:  #0f2656 ;
	text-decoration: none;
	margin: 0px 15px;
	display: inline-block;
	transition: .3s;
}
.menu ul li a:hover{
	color: blue;
}
.menu ul li a:last-child {
	margin-right: 0;

} 
/*header end*/ 

/*banner start*/
.banner{
	padding: 50px;

}
.wrpper_2 {
	width: 60%;
	margin: 0 auto ;
/*	border: 1px solid;
*/}

.b_content {
	text-align: center;
}
.b_content h1{
	margin-top: 20;
	font-size: 45px;

}
.sky{
	color: #008aff
;
}
.b_content p{
	line-height: 25px;
	margin: 20px 0;

}

.b_img {
	border-top: 20px; 
	width: 80%;
	margin: 0 auto;
}
.b_img img{
	width: 100%;
}
/*banner end*/
/*success start*/
.success{
   padding: 50px;
 ;
}
.s_content{
	overflow: hidden;
}
.s_left{
	width: 45%;
/*	border: 1px solid red;
*/	float: left;
	text-align: right;
	padding-left: 10px;

}
.s_left h2{
	font-size: 40px;
	color: #f36c7a;
	margin: 0;

}
.s_left p{
	line-height: 25px;
    margin: 10px 0 0;
}
.s_right{
	width: 45%;
/*	border: 1px solid red;*/
	float: right;
	padding-right: 10px;
}
.s_right h1{
	font-size: 40px;
	margin: 0;
}
/*success end*/
/*feature start*/
.feature{}
.f_content{}
.single{
	margin-right: 5%;
	width: 26%;
	/*border: 1px solid red;*/
	padding: 5px 2% 35px;
	float: left;
}
.single:last-child{
	margin-right: 0;
}
.pink{
	background-color:#fdebed;

}
.white{
		background-color: #ebf9f4


}
.green{
	/*background-color: #ebf9f4*/
	background-color: #fff7e8
;
;

}
.f_img{
	width: 100%;
	
}
.f_img img{
	width: 100%;
}
.single h2{
	font-size: 24px;
	margin: 15px 0;
}
.single p{
	margin: 0;
	line-height: 22px;
}
/*feature end*/
/*Footer star*/
/*.wrpper_3{
	border: 1px solid;
	height: 65px;
    text-align: center;
    background-color: #008aff;
    margin-top: 70px;
}*/


.foot{
	border: 1px solid;
	height: 65px;
    text-align: center;
    background-color: #008aff;
    margin-top: 70px;
}
.foot p{
	margin-top: 25px;
}
.foot p a{
	text-decoration: none;
	color: white;
}


/*footer end */